@import url(default.css);

footer {
    opacity: 0.5;
    padding: 80px 0 50px 0;
    font-size: 0.8rem;
}

.social-links a {
    display: inline-block;
    color: var(--blue);
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), color 0.3s ease, opacity 0.3s ease;
    text-decoration: none;
}

.social-links a:hover {
    transform: scale(1.4);
    color: var(--pink);
    opacity: 1;
}

.social-links a i {
    pointer-events: none;
}

.footer-copy {
    color: #444;
    letter-spacing: 2px;
    font-size: 0.8rem;
}